.details {
  .img-name {
    text-align: center;
    h2 {
        color: $blood;
        font-weight: bold;
        margin-top: 30px;
        font-size: 40px;
      }
      img {
        border-radius: 5px;
        // width: 900px;
        // height: 600px;
        object-fit: contain;
      }
  }
  h3 {
    color: $blood;
    font-weight: bold;
  }
  p {
    font-family: $body-font;
    font-size: 18px;
  }
}

.new-rating {
  text-align: center;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .details {
      img {
        width: 300px;
        height: 200px;
      }
    }
  }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .details {
      img {
        width: 450px;
        height: 300px;
      }
    };
  }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .details {
      img {
        width: 600px;
        height: 400px;
      }
    }
  }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .details {
      img {
        width: 750px;
        height: 500px;
      }
    }
  }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .details {
      img {
        width: 750px;
        height: 500px;
      }
    }
  }
// XXXL Extra large devices (large screens, 2000px and up)
@media (min-width: 2000px) {
  .details {
    img {
      width: 900px;
      height: 600px;
    }
  }
}
