<div class="banner">
  <%# Script JS TYped %>
  <h2><span class="element"></span></h2>
  <%# END %>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Pizza, Burger..." />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<div class="presentation">
  <h3>Découvrez, créez et partagez vos recettes des 4 coins du monde en toute simplicité ...</h3>



  <%= link_to "Tous les plats", foods_path %>
</div>

<div class="display-foods">
  <% @best_foods.each do |food| %>
    <%= food.name %>
    <%= food.difficulty %>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  var options = {
  strings: ["L'appli de recettes la <strong>plus utilisée</strong> dans le monde. ^2000", "La <strong>meilleure </strong> communauté. ^2000", "Rejoins nous dès maintenant. ^2000"],
  // ^1000 = 1kms = 1sc
  typeSpeed: 50,
  backspeed: 50,
  startDelay: 100,
  loop: true
  };
  var typed = new Typed('.element', options);
</script>
