<% if @foods != nil %>
  <% @foods.each do |food| %>
    <div class="card-food">
        <% if food.photo.attached? %>
          <%= link_to cl_image_tag(food.photo.key), food_path(food) %>
        <% else %>
          <%= link_to image_tag("default-img.png"), food_path(food) %>
        <% end %>
        <div class="card-food-infos">
          <h3><%= link_to food.name, food_path(food) %></h3>
          <p><%#= food.ratings.average(:score).to_f.round(1) %></p>
          <%#= LATER, ADD RATING ON BOTTOM-RIGHT WITH STARS %>
        </div>
      </div>
  <% end %>
<% else %>
  <h2>Essayez autre chose</h2>
<% end %>
