.banner {
  background-size: cover;
  background-image: linear-gradient(rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.2)), url('Banner world-in-food.jpg');
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h2 {
    color: white;
    font-weight: bold;
  }
}
// ------------------------

.banner-show {
  background-size: cover;
  background-image: linear-gradient(rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.2)), url('Banner-ingredients2.jpg');
  width: 100%;
  padding: 60px 0px;
  text-align: center;
  margin-bottom: 50px;
  h2 {
    color: white;
    font-weight: bold;
  }
}
