.banner {
  // background-image: url('food-logo.png');
  background-size: contain;
  background-image: linear-gradient(rgba(120, 120, 120, 0.3), rgba(120, 120, 120, 0.3)), url('banner-food.jpg');
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  h2 {
    color: white;
    font-weight: bold;
  }
}
