.btn-close-modal {
  color: white;
  background: $blood;
  border: none;
  border-radius: 5px;
}

.btn-open-modal {
  margin-top: 25px;
  color: white;
  font-weight: bold;
  background: #ffd000;
  border: none;
  border-radius: 50px;
  /* padding: 10px; */
  font-size: 24px;
  height: 50px;
  width: 50px;
}
