.card-food {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
    &:hover {
      opacity: 0.8;
    }
  }
  a {
    text-shadow: -1px 0 rgb(216, 158, 43), 0 1px rgb(216, 158, 43), 1px 0 rgb(216, 158, 43), 0 -1px rgb(216, 158, 43);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color:$gold;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $blood;
      text-shadow: -1px 0 rgb(222, 12, 12), 0 1px rgb(222, 12, 12), 1px 0 rgb(222, 12, 12), 0 -1px rgb(222, 12, 12);
    }
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}


.card-food .card-food-infos {
  padding: 10px;
  text-align: center;
  align-items: flex-end;
  position: relative;
}
