.card-food {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
    &:hover {
      opacity: 0.8;
    }
  }
  a {
    text-shadow: -1px 0 rgb(216, 158, 43), 0 1px rgb(216, 158, 43), 1px 0 rgb(216, 158, 43), 0 -1px rgb(216, 158, 43);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color:$gold;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: rgb(216, 158, 43);
      text-shadow: -1px 0 rgb(231, 164, 62), 0 1px rgb(231, 164, 62), 1px 0 rgb(231, 164, 62), 0 -1px rgb(231, 164, 62);
    }
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-food .card-food-infos {
  padding: 10px;
  text-align: center;
  align-items: flex-end;
  position: relative;
}

// ------------------------------------

.card-food-rating {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  a {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
    p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-food-rating .card-food-rating-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-food-rating-infos .card-food-rating-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
