.footer {
  background-color: $blood;
  // margin-top: 50px;
  padding: 20px 50px 20px 50px;
  // position: relative !important;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}
