.navbar-lewagon {
  justify-content: space-between;
  background: $blood;
  img {
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  a, li, h1 {
    color: white;
  }
  .dropdown-item {
    color: $gold;
    font-weight: bold;
    &:hover {
      background-color: $blood;
    }
  }
  .dropdown-menu.show {
    display: block;
    border-radius: 5%;
    border: 2px $blood solid;
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// ---------------------------

.bar-category {
  padding: 5px 25px;
  background-color: $gold;
  padding: 10px 25px;
  margin-bottom: 40px;
  a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }
}
