.navbar-lewagon {
  justify-content: space-between;
  background: $blood;
  img {
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  a, li, h1 {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
