<div class="banner-show">
  <div class="card-category">
    <%= image_tag("Steak.jpg") %>
    <%# cl_image_tag(@category.photo.key) %>
    <div class="card-category-infos">
      <h2><%= @category.name %></h2>
    </div>
  </div>
</div>

<% @category.foods.each do |food| %>
<%= food.name %>
<% end %>
